.gf-table-cell-custom {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  border-right: 2px solid #161719;
}

.gf-table-header-custom {
  background: -webkit-linear-gradient(315deg,#2f2f32,#262628);
  background: -o-linear-gradient(315deg,#2f2f32,#262628);
  border-top: 2px solid #161719;
  cursor: pointer;
  color: #33b5e5;
}

.gf-table-cell-custom, .gf-table-header-custom {
  padding: 3px 10px;
  border-bottom: 2px solid #161719;
  white-space: nowrap;
}
